<section class="project-list">
  <div class="type-group">
    <div class="section-title">course</div>
    <ul>
      <li><a href="{{ '/course/caa-world-computationality/' | relative_url }}"><div class="project-title">世界和计算性 · World, Computationality</div></a><div class="project-subtext">School of Intermedia Art, China Academy of Art, Hangzhou, <span class="time">2025</span></div></li>
      <li><a href="{{ '/course/cu_simulated/' | relative_url }}"><div class="project-title">Computational Studio: Simulated</div></a><div class="project-subtext">School of Fine Art, Cooper Union, New York, <span class="time">2023</span></div></li>
      <li><a href="{{ '/course/nyu_worldmaking/' | relative_url }}"><div class="project-title">Worldmaking with Unity</div></a><div class="project-subtext">ITP, Tisch School of the Arts, New York, <span class="time">2023</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">software-system</div>
    <ul>
      <li><a href="{{ '/software-system/hazymachine/' | relative_url }}"><div class="project-title">The Hazy Machine</div></a><div class="project-subtext">Alternative Computing Model, <span class="time">2024</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">speculative-architecture</div>
    <ul>
      <li><a href="{{ '/speculative-architecture/os/' | relative_url }}"><div class="project-title">Other Spring</div></a><div class="project-subtext">Theory-fiction world-building, <span class="time">2023</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">talk</div>
    <ul>
      <li><a href="{{ '/talk/demystification-and-remystification/' | relative_url }}"><div class="project-title">Demystification and Remystification: free relation to AI</div></a><div class="project-subtext">Multi-venue presentation series, <span class="time">2025</span></div></li>
      <li><a href="{{ '/talk/show-me-your-backend/' | relative_url }}"><div class="project-title">Wandering Between the Line of Computable and Uncomputable</div></a><div class="project-subtext">Podcast: Cacotopia, Macalline Art Center, <span class="time">2023</span></div></li>
      <li><a href="{{ '/talk/redesigning-play-in-the-age-of-computing/' | relative_url }}"><div class="project-title">Redesigning Play in the Age of Computing</div></a><div class="project-subtext">Panelist Talk, Foundation in Art: Theory and Education, <span class="time">2023</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">video-essay</div>
    <ul>
      <li><a href="{{ '/video-essay/outofsight/' | relative_url }}"><div class="project-title">Out of Sight</div></a><div class="project-subtext">A video essay on computational objects, <span class="time">2023</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">video-game</div>
    <ul>
      <li><a href="{{ '/video-game/momv/' | relative_url }}"><div class="project-title">Mountain of Many Voices</div></a><div class="project-subtext">Dialogue game and installation, <span class="time">2025</span></div></li>
      <li><a href="{{ '/video-game/go-to-sea/' | relative_url }}"><div class="project-title">Go To Sea</div></a><div class="project-subtext">Point-n-click video game, <span class="time">2023</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">workshop</div>
    <ul>
      <li><a href="{{ '/workshop/house-of-forgotten-spirits/' | relative_url }}"><div class="project-title">Temple of Forgotten Spirits</div></a><div class="project-subtext">Collaborative mythmaking, <span class="time">2024</span></div></li>
      <li><a href="{{ '/workshop/world-on-a-wire-thingthingthing-workshop/' | relative_url }}"><div class="project-title">World on a Wire: ThingThingThing Workshop</div></a><div class="project-subtext">Thing making workshop with New Museum–Rhizome, <span class="time">2023</span></div></li>
    </ul>
  </div>
  <div class="type-group">
    <div class="section-title">writing</div>
    <ul>
      <li><a href="{{ '/writing/machine-as-memory-as-orientation-as-condition/' | relative_url }}"><div class="project-title">Machine as Memory as Orientation as Condition</div></a><div class="project-subtext">Published in Counterstructural Commons as a chapter (Rhizome), <span class="time">2026</span></div></li>
    </ul>
  </div>
</section>
