---
layout: default
---
<section id="pages">
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li class="mobile-only"><a href="#project-list-anchor">Projects</a></li>
</section>

<header>
  <nav class="navbar">
    <ul><li class="site-identity"><a href="{{ '/' | relative_url }}">Zhenzhen Qi</a><span aria-hidden="true">|</span><a href="{{ '/about.html' | relative_url }}">CV</a></li></ul>
  </nav>
</header>

<div class="row two-panel-row">
  <div class="col" id="left">
    {% include project-list.html %}
    <footer class="site-footer">&copy;Zhenzhen Qi 2026 | All Rights Reserved</footer>
  </div>
  <div class="col" id="center">
    <main id="content">
      {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
      {{ content }}
    </main>
    <div class="mobile-only" id="project-list-anchor">
      <hr>
      <div class="mobile-project-heading">PROJECT LIST:</div>
      {% include project-list.html %}
    </div>
  </div>
  <div class="col" id="right"></div>
</div>
