---
layout: default
---
<section id="pages">
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li class="mobile-only"><a href="#project-list-anchor">Projects</a></li>
</section>

<header>
  <nav class="navbar">
    <ul><li><a href="{{ '/' | relative_url }}">Zhenzhen Qi</a></li></ul>
  </nav>
</header>

<div class="row">
  <div class="col" id="left">
    {% include project-list.html %}
  </div>
  <div class="col" id="center">
    <main id="content">
      {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
      {{ content }}
    </main>
    <div class="mobile-only" id="project-list-anchor">
      <hr>
      <div class="mobile-project-heading">PROJECT LIST:</div>
      {% include project-list.html %}
    </div>
  </div>
  <div class="col" id="right"></div>
</div>
